@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.main-title {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    user-select: none;
    background-size: cover;
    background: #000 url(../assets/bg2.webp) bottom;
    text-align: center;
    width: 100%;
    z-index: 999;
    border-radius: 20px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 6px 8px 0 rgba(0, 0, 0, .19);
}

.title {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 500;
    letter-spacing: -0.015625em;
}

.space {
  height: 20px;
}

.subtitle {
  padding-top: 20px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
    text-transform: uppercase
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 4.5rem;
  }
  .subtitle {
    font-size: 1rem;
    line-height: 0.7rem;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 3.8rem;
  }
  .subtitle {
    font-size: 1rem;
    line-height: 0.7rem;
  }
}
